<app-header title="Inicio"></app-header>

<ion-content>

<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-card mode="ios", color="secondary", class="d-flex-center ion-text-center" *ngIf="!loading && products.length">
  <div>
    <h5>{{products.length}}</h5>
    <p>Mangas</p>
  </div>

  <div>
    <h5>{{products.length}}</h5>
    <p>Vistas Totales</p>
  </div>
</ion-card>

<!--============ Productos ============-->
  <ion-list *ngIf="!loading">
    <ion-item-sliding class="product-item" *ngFor="let p of products">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="p.image" />
        </ion-avatar>
        <ion-label>
          <div class="name">{{p.name}}</div>
          <div class="data">
            <strong></strong>{{p.category}} <br>
            <strong></strong>{{p.typology}} <br>
            <h5><b>{{p.views}}</b> <strong> Vistas</strong></h5>
          </div>
        </ion-label>
      </ion-item>
    <!--======= Opciones =======-->
      <ion-item-options>
          <!--Editar-->
        <ion-item-option (click)="addUpdateProduct(p)">
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option> 
          <!-- Eliminar-->
        <ion-item-option (click)="confirmDeleteProduct(p)" color="danger" >
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>

      </ion-item-options> 

    </ion-item-sliding>
  </ion-list>

<!--============ Loading ============-->
  <ion-list *ngIf="loading">
      <ion-item class="product-item" *ngFor="let p of [1,1,1,1,1,1,1,1,1,1,1]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <div><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></div>
          <div><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></div>
        </ion-label>
      </ion-item>
  </ion-list>

<!--======= Sin mangas disponibles =======-->
  <div *ngIf="!loading && !products.length" class="empty">
    <ion-icon name="shield-outline"></ion-icon>
    <h3>No hay mangas disponibles</h3>
  </div>

<!--======= Agregar Nuevo Manga =======-->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addUpdateProduct()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  
</ion-fab>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="signOut()">
    <ion-icon name="arrow-undo-outline"></ion-icon>
  </ion-fab-button>
  
</ion-fab>

</ion-content>